body {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
}

h1, h2, h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

h2{
    color: #37008E;
    font-size: 1.85rem;
}

#home-hero {
    min-height: 750px;
    background-image:url(../img/hero.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#page-hero {
    max-height: 375px;
    background-color: black;
    color: white;
}

#hero-text {
    min-height: 100vh;
}

.custom-nav-item {
    font-size: 1.25rem;
    padding-left: 20%;
}

.breadcrumb {
    background-color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(#e6d6ff, white);
    padding: 20px 0;
    border-top: solid #e6d6ff;
}