body {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
}

h1, h2, h3 {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
}

h2{
    color: #37008E;
    font-size: 1.85rem;
}

header h2{
    color: #21252a;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
}

.site-footer {
    background-image: linear-gradient(#e6d6ff, white);
    padding: 20px 0;
    border-top: solid #e6d6ff;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(#e6d6ff, white);
    color: #37008E;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #37008E;
}